node_modules/
venv/
.venv/
TexasCOVID19CaseCountData.xlsx
~$TexasCOVID19CaseCountData.xlsx
TexasCOVID19CaseCountData.json
d3-abstraction-classes.js
Texas2018PopulationEstimate.csv
index.html
.vscode
.idea
