node_modules/
venv/
.venv/
TexasCOVID19CaseCountData.xlsx
~$TexasCOVID19CaseCountData.xlsx
TexasCOVID19CaseCountData.json
Texas2018PopulationEstimate.csv
Texas2019PopulationEstimate.csv
tx48s050.csv
tx48s050.zip
index.html
.vscode
.idea
